body{
    margin: auto 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    padding: 10px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}