/*HEADER START*/

.grid_container{
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: auto;
}

.header{
    margin: 5px;
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50% 50%;
}

.logo{
    margin: 10px;
}

.logo>img{
    max-width: 20vh;
    width: 100%;
}

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 60px;
    line-height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: #000066;
    margin: 0 10px;
    line-height: 70px;
}

.label {
    margin: 0 40px 0 0;
    font-size: 30px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    position: relative;
    z-index: 99999;
}
#toggle {
    display: none;
}

/*HEADER END*/

@media only screen and (max-width: 748px) {

    .label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }

    .nav{
        grid-column: 1/3;
        grid-row: 1/2;
        border-bottom: none;
    }

    .logo{
        grid-column: 1/3;
        grid-row: 1/2;
        position: absolute;
        z-index: 99999;
    }

    #toggle:checked + .menu {
        display: block;
        background-color: white;
        position: relative;
    }
}